node_modules
**/node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

dist
build
out

prisma/dev.db
prisma/.env

.git
.gitignore

.env
.env.*
!.env.example

Dockerfile
docker-compose.yml

uploads
backups
init

*.log
logs
*.pid

.DS_Store
Thumbs.db
desktop.ini
.vscode
.idea

**/.OneDrive*
**/$RECYCLE.BIN
